Source: conf-amon
Section: base
Priority: optional
Maintainer: Equipe Eole <eole@ac-dijon.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3

Package: conf-amon
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, eolebase,
 eole-sso, amon-backend, pppoe, snmp, libsnmp-perl, xtables-addons-common,
 xtables-addons-modules-2.6.32-30-eole, vnstat,
#firewall
 era, l7-filter-userspace, l7-protocols,
#eole
 eole-reverseproxy, eole-dns, eole-radius, eole-proxy,
 eole-antivirus, eole-rvp, eole-dhcrelay, eole-sso-client
Description: Templates et dictionnaires pour Amon
 Pour toute information complementaire, veuillez vous rendre
 sur le site du Projet a l'adresse suivante :
 .
 http://eole.orion.education.fr

Package: eole-proxy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, eolebase-minimal, eole-antivirus, lightsquid
# conflit pour cause de templates déplacés
Conflicts: eole-common (<2.3-eole128)
Description:  Templates et dictionnaires pour le proxy EOLE

Package: eole-reverseproxy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, eolebase-minimal, reverseproxy-pkg
Description: Templates et dictionnaires pour le reverseproxy EOLE

Package: eole-rvp
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, eolebase-minimal, strongswan,
 python-arv
#ipsec-tools
Description: Templates et dictionnaires pour rvp EOLE

Package: eole-dhcrelay
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, eolebase-minimal, dhcp3-relay
Description: Templates et dictionnaires pour dhcrelay EOLE

# FIXME sondes prelude et snort (cf. #2016)
#Package: eole-?
#Architecture: all
#Depends: ${shlibs:Depends}, ${misc:Depends},
# snort, oinkmaster, samhain,
#Description: Templates et dictionnaires pour ...
