Source: conf-amon
Section: base
Priority: optional
Maintainer: Equipe Eole <eole@ac-dijon.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: conf-amon
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python
Description: Templates et dictionnaires pour Amon 2.x
 Pour toute information complementaire, veuillez vous rendre
 sur le site du Projet a l'adresse suivante : 
 .
 http://eole.orion.education.fr

