Source: conf-amon
Section: base
Priority: optional
Maintainer: Equipe Eole <eole@ac-dijon.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3

Package: conf-amon
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, amon-pkg
Description: Templates et dictionnaires pour Amon
 Pour toute information complementaire, veuillez vous rendre
 sur le site du Projet a l'adresse suivante :
 .
 http://eole.orion.education.fr

Package: eole-proxy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, eolebase-minimal
Conflicts: proxy-pkg
Description:  Templates et dictionnaires pour le proxy EOLE

Package: eole-reverseproxy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, eolebase-minimal
Description: Templates et dictionnaires pour le reverseproxy EOLE

Package: eole-dns
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, eolebase-minimal
Description: Templates et dictionnaires pour le dns EOLE

Package: eole-nuauth
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, eolebase-minimal
Description: Templates et dictionnaires pour le nuauth EOLE

Package: eole-radius
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, eolebase-minimal
Description: Templates et dictionnaires pour radius EOLE
