[Unit]
Description=RVP manager pour Amon
After=bastion.service strongswan.service

[Service]
Type=forking
GuessMainPID=no
KillMode=process
IgnoreSIGPIPE=no
TimeoutSec=1min
RemainAfterExit=yes
Restart=no
ExecStart=/usr/sbin/rvp start
ExecStop=/usr/sbin/rvp stop
ExecReload=/usr/sbin/rvp reload

[Install]
WantedBy=multi-user.target
